{% extends 'emails/base.html' %}

{% block greetings %}
    Hi {{ user.first_name }} {{ user.last_name }},
{% endblock %}

{% block content %}
{% autoescape off %}
    <p>Looks like your DM has cancelled the game session:</p>

    <p>Adventure name: {{ game.adventure }}</p>
    <p>Game date: {{ game.date }}, {{ game.time_start }}</p>
    <p>Location: {{ game.table }}</p>

    <p>You can see the details of game here: {{ game.get_absolute_url }}</p>

    <p>If no other DM takes on this this game. It will not be played. We will let you know, when other DM takes on this game.</p>

{% endautoescape %}
{% endblock %}
